/* Basic Portfolio Styling */

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
/* Styles for the section containing the parallax background */
/* parallax "viewport" */
.parallax {
  height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;

  perspective: 1px;
}

.image-swap .animated {
  display: none; /* Hide the GIF by default */
}

.image-swap:hover .static {
  display: none; /* Hide the static image on hover */
  max-width: 80%;
}

.image-swap:hover .animated {
  display: inline; /* Show the GIF on hover */
  max-width: 80%;
}
body {
      background: #fff;
        color: #000;
        font-family: 'Akkurat-Mono';
    }
@font-face {
    font-family: 'Akkurat-Mono';
    src: url('assets/fonts/Akkurat-Mono.woff2') format('woff2'),
        url('assets/fonts/Akkurat-Mono.woff') format('woff'),
          url('assets/fonts/Akkurat-Mono.ttf') format('truetype');
}


li {list-style: none; float: left; background: #ffffff;}
li + li {border-left: 1px solid;}
a { background: #ffffff; display: block; padding: .5em 1em;}


    header {
      padding: 20px 40px;
      border-bottom: 1px solid #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    nav a {
      text-decoration: none;
      color: #000;
      margin-left: 30px;
      font-size: 14px;
    }

    .hero {
      height: 600px;
      background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .hero h1 {
      font-size: 48px;
      margin-bottom: 20px;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 20px;
      padding: 20px 10px;
      max-width: 50%;
      margin: 0 auto;
    }

    .card {
      background: #ffffff;
      padding: 10px;
      border: 1px solid #ffffff;
    }

    .card h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    footer {
      padding: 40px;
      border-top: 1px solid #e0e0e0;
      text-align: center;
      color: #666;
    }
    .active-song {
        font-weight: bold;
        color: blue;
        cursor: pointer;
    }
    li {
        cursor: pointer;
        padding: 5px;
    }